.container{
    // max-width: 331px;
    background-color: #fff;
    border-radius: 5px;
}

.name{
    color: black;
    font-weight: 800;
    font-size:1.375rem;
}

.country-caption{
    font-weight: 600;
    margin-right: 0.25rem;
}

.country-info-container{
    padding: 1rem 1.875rem;
}