$dark-element-color: hsl(209, 23%, 22%);
$dark-background-color: hsl(207, 26%, 17%);
$light-text-color: hsl(200, 15%, 8%);
$light-input-color:hsl(0, 0%, 52%);
$light-background-color: hsl(0, 0%, 98%);
$white-elements:hsl(0, 0%, 100%);